/* Accordion section */




.accordion__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 2rem 2rem;
    border: 2px solid #ececec;
}

.accordion__heading{
    margin-bottom:0 ;
    color: #3a3a3a;
    font-size: 1.8rem;
}

.accordion__content{
    border: 2px solid #ccc;
    border-radius:5px ;
    padding: 1rem 4rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;
}

.accordion__content p{
    border-bottom: 2px solid #ececec; ;
}

.accordion__expanded .accordion__content{
    max-height: 100vh;
    opacity: 1;
}

.accordion__header i{
    color: var(--color-primary);
    font-size: 20px;
    transform: rotate(-);
    transition: all 0.3s ease-out;
}

.accordion__expanded .accordion__header i{
    transform: rotate(-90deg);
}

.accordion__wrapper{
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ececec;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.accordion__intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    border: 2px solid #ececec;
    border-radius: 10px;
    padding: 2rem 2rem;
}
/* comment */